/* CSS Document */

/* For animaition text */


html, body{
  height: 100%;
  font-weight: 800;
}

svg {
	display: inline;
	width: 450px;
	height: 100px;
	margin: 0 auto;
	
}

@media only screen and (max-width: 992px){
	.md-only {
		display: none;
	}
	
	.nav-link {
		text-align: center;
	}
	
	.nav-link:hover {
		padding-left: 2px !important;
	}
}

@media only screen and (max-width: 420px){
  svg {
	width: 250px;
}
}


@media only screen and (max-width: 350px){
  svg {
	width: 200px;
}
}

.text-copy {
	fill: none;
	stroke: black;
	stroke-dasharray: 6% 29%;
	stroke-width: 30px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 2.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: yellow;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: orange;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: blue;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: green;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #666;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

.myBox {
	text-align: center;
	margin-top: 100px;
}

/* LOADER */
@font-face {
	font-family: 'icomoon';
	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?-9haulc');
	src:url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.eot?#iefix-9haulc') format('embedded-opentype'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.woff?-9haulc') format('woff'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.ttf?-9haulc') format('truetype'),
		url('https://s3.amazonaws.com/icomoon.io/4/Loading/icomoon.svg?-9haulc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
	content: "\e000";
}
.icon-spinner-2:before {
	content: "\e001";
}
.icon-spinner-3:before {
	content: "\e002";
}
.icon-spinner-4:before {
	content: "\e003";
}
.icon-spinner-5:before {
	content: "\e004";
}
.icon-spinner-6:before {
	content: "\e005";
}
.icon-spinner-7:before {
	content: "\e006";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinner {
	display: inline-block;
	font-size:4em;
	height: 1em;
	line-height: 1;
	margin: .5em;
	animation: anim-rotate 2s infinite linear;
	color: violet;
	text-shadow: 0 0 .25em rgba(255,255,255, .3);
}
.spinner--steps {
	animation: anim-rotate 1s infinite steps(8);
}
.spinner--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}

body {
	font-family: sans-serif;
	color: #ccc;
	line-height: 1.5;
	font-size: 1em;
	background-image: linear-gradient(to right, lightblue, white);
}
