/* CSS Document */

body {
	min-width: 560px;
	background: url('img/bg2.jpg');
	background-size: cover;
	background-attachment: fixed;
}

/* 
Define this in your CSS 
.linearAnimation = Replace it by the name you want to give your animation
.linearAnimObj = Assign this class to the elements to which you want to apply the animation
*/

.linearAnimObj {
	position: relative;
	/* Chrome, Safari*/
	-webkit-animation-name: linearAnimation;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
	/* Mozilla */
	-moz-animation-name: linearAnimation;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-delay: 1s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;
	/* Standard syntax */
	animation-name: linearAnimation;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;
}

/* 
Define the keyframe and changes
*/

/* Chrome, Safari */
@-webkit-keyframes linearAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 20px;
		top: 0;
	}
}

/* Firefox */
@-moz-keyframes linearAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 20px;
		top: 0;
	}
}

/* Standard syntax */
@keyframes linearAnimation {
	0% {
		left: 0;
		top: 0;
	}
	100% {
		left: 20px;
		top: 0;
	}
}

/*
  Below is the syntax for adding values to the box shadow property 
  box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;
*/
.boxShadow {
	/*Chrome, Safari*/
	-webkit-box-shadow: 3px 3px 6px 4px #333333;
	/*Standard Syntax*/
	box-shadow: 3px 3px 7px 3px #333333;
}

html {
	scroll-behavior: smooth;
}
/* For animaition text */


html, body{
  height: 100%;
  font-weight: 800;
}

svg {
	display: inline;
	font: 20.5em 'Montserrat';
	width: 300px;
	height: 30px;
	margin: 0 auto;
}

@media only screen and (max-width: 420px){
  svg {
	width: 250px;
}
}

@media only screen and (max-width: 350px){
  svg {
	width: 200px;
}
}

.text-copy {
	fill: none;
	stroke: white;
	stroke-dasharray: 6% 29%;
	stroke-width: 15px;
	stroke-dashoffset: 0%;
	animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #FFFFFF; <!-- #4D163D -->
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #FFFFFF;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #FFFFFF;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #FFFFFF;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #FFFFFF;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* Change bg when hover on activities pic */
#act-1:hover > img {
	opacity: .8;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1104 {
	border-radius: 10px;
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1104 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

figure.snip1104 img {
  max-width: 100%;
  position: relative;
  opacity: 0.4;
}

figure.snip1104 figcaption {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

figure.snip1104 h2 {
  position: absolute;
  left: 40px;
  right: 40px;
  display: inline-block;
  background: #000000;
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(0, -50%);
  padding: 12px 5px;
  margin: 0;
  top: 50%;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1104 h2 span {
  font-weight: 800;
}

figure.snip1104:before {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  content: '';
  background: #ffffff;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: rotate(110deg) translateY(-50%);
  transform: rotate(110deg) translateY(-50%);
}

figure.snip1104 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1104.blue {
  background: #123851;
}

figure.snip1104.blue h2 {
  background: #0a212f;
}

figure.snip1104:hover img,
figure.snip1104.hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

figure.snip1104:hover h2,
figure.snip1104.hover h2 {
  -webkit-transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
  transform: skew(-10deg) rotate(-10deg) translate(-150%, -50%);
}

figure.snip1104:hover:before,
figure.snip1104.hover:before {
  -webkit-transform: rotate(110deg) translateY(-150%);
  transform: rotate(110deg) translateY(-150%);
}

/* MEMBER LIST */
.mem-role {
	background: rgba(255, 200, 20, 0.7);
	border-radius: 5px;
	width: 200px;
	margin: 0 auto;
}

.memlist > div {
	margin-top: 50px;
	background: rgba(30, 120, 0, 0.7);
	border-radius: 5px;
	width: 350px;
	margin: 0 auto;
}

.memlist > div > img {
}

.memlist > div > h3 {
	color: aqua;
	padding: 5px 0px 5px 0px;
}